/* History Page Container */
.history-page {
    padding: 2rem;
    text-align: center;
    background-color: #f8f9fa;
  }
  
  /* History List */
  .history-list {
    list-style-type: none;
    padding: 0;
    margin: 2rem 0;
  }
  
  .history-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
  }
  
  .view-details-button {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .view-details-button:hover {
    background-color: #0056b3;
  }
  